# Frontend
frontend/node_modules/
frontend/.angular/
frontend/.env
frontend/dist/

# Backend Python
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.venv/

# Chatbot séparé (si présent)
backend/chroma_db/

# MongoDB dump (lourd, à exclure)
dump/

# Divers
.DS_Store
*.log